@model IEnumerable<Onboarding.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='product'></div>

@section Scripts{
    <script src="~/Scripts/react/dist/Product.bundle.js"></script>
}
