@model IEnumerable<Onboarding.Models.Sale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='sale'></div>

@section Scripts{
    <script src="~/Scripts/react/dist/Sales.bundle.js"></script>
}