@model IEnumerable<Onboarding.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='store'></div>

@section Scripts{
    <script src="~/Scripts/react/dist/Store.bundle.js"></script>
}